@{
    ViewBag.Title = "Каталог аудиофайлов";
}

<p>
    @Html.ActionLink("Список всех аудиофайлов", "Index", "Audiofile")<br />
    @Html.ActionLink("Добавить аудиофайл", "Upload", "Audiofile")<br />
    @Html.ActionLink("Добавить автора/исполнителя", "Create", "Author")<br />
    @Html.ActionLink("Добавить жанр", "Create", "Genre")<br />
</p>