@model CI.ViewModels.AuthorDetailsViewModel

@{
    ViewBag.Title = Model.AuthorName;
}

<div class="page-header center">
  <h1>@Model.AuthorName</h1>
</div>

<div class="container">
    <div class="col-md-5">
        @if (!String.IsNullOrEmpty(Model.Image))
{
    <img src="@Url.Content(String.Concat("~/_uploads/images/",Model.Image))" alt="image" style="float: left" />
}
else
{
    <img src="@Url.Content("~/_uploads/images/noimage.jpg")" alt="image" style="float: left" />
}
    </div>
    <div class="col-md-7">
        @if (Model.Audiofiles.Count > 0)
        {
            @Html.Partial("~/Views/Shared/_ShowAudiofileList.cshtml", Model.Audiofiles)
        }
        else
        {
            <p>Файлы данного автора/исполнителя не найдены</p>
        }
    </div>
</div>


