@model PagedList.IPagedList<CI.Entities.Audiofile>
@using PagedList.Mvc

<table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 65%">Название</th>
                    <th style="width: 10%">Год</th>
                    <th style="width: 25%">Жанр</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Title, "Details", "Audiofile", new { id = item.ID}, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.ActionLink(item.Genre.Name, "Details", "Genre", new { id = item.GenreID}, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
@Html.PagedListPager(Model, 
                    page => Url.Action("Details", "Author", new RouteValueDictionary {{"page", page }, {"id", ViewBag.AthorID}})
                    , PagedListRenderOptions.Classic)