@model PagedList.IPagedList<CI.Models.Genre>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Жанры";
}

<div class="page-header center">
  <h1>Жанры</h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th style="width: 50%">Жанр</th>
            <th style="width: 50%">Файлов</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.ID})
            </td>
            <td>
                @Html.ActionLink(item.Files.Count.ToString(), "Details", new { id = item.ID})
            </td>
        </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new RouteValueDictionary {{"page", page }}), PagedListRenderOptions.Classic)